@import '../../scss/variables';

.cart-btn {
  width: 100%;
  height: 52px;
  font-family: Raleway;
  background-color: $primary-btn-color;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-variation-settings: 'wght' 600;
  user-select: none;

  &:hover {
    background-color: $highlight-btn-color;
  }

  &.inactive {
    background-color: $inActive-btn-color;
  }
}

.small-btn {
  width: 140px;
  height: 43px;
  font-family: Raleway;
  background-color: $primary-btn-color;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-variation-settings: 'wght' 600;
  user-select: none;
  text-decoration: none;

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: $highlight-btn-color;
  }

  &.inactive {
    background-color: $inActive-btn-color;
  }

  &.alt {
    border: 1px solid $primary-color;
    background-color: $background-primary-color;
    color: $primary-color;

    &:hover {
      background-color: $highlight-alt-btn-color;
      color: $background-primary-color;
    }
  }
}

.micro-btn {
  max-width: 140px;
  height: 43px;
  font-family: Raleway;
  background-color: $primary-btn-color;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-variation-settings: 'wght' 600;
  user-select: none;

  &:hover {
    background-color: $highlight-btn-color;
  }

  &.inactive {
    background-color: $inActive-btn-color;
  }

  &.alt {
    border: 1px solid $primary-color;
    background-color: $background-primary-color;
    color: $primary-color;

    &:hover {
      background-color: $highlight-alt-btn-color;
      color: $background-primary-color;
    }
  }
}

.mini-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: SourceSansPro;
  width: fit-content;
  min-width: 24px;
  height: 24px;
  font-size: 14px;
  border: 1px solid $primary-color;
  color: $primary-color;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  &.inactive {
    background-color: $inActive-btn-color;
  }

  &:hover {
    background-color: $highlight-alt-btn-color;
    color: $background-primary-color;
  }

  &.alt {
    width: 45px;
    height: 45px;
    font-size: 19px;
  }
}

.text-btn {
  color: $secondary-color;
  font-family: Raleway;
  display: block;
  color: $secondary-color;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  font-variation-settings: 'wght' 500;
  transition: all .3s ease 0s;

  &:hover {
    color: coral;
  }
}
$dark: #20826c;
$light: #fff;
$spacing: 20px;
$border: 2px;
$hover-size: 20px;
$hover-margin: -28px;

.cart-btn-alt {
  background-color: $primary-btn-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $spacing * 2;
  position: relative;
  text-decoration: none;
  width: $spacing * 2;
  border-radius: 50%;
  transition: color 200ms;
  transition-timing-function: cubic-bezier(0.1, 0, 0.11, 1);

  img {
    position: relative;
    margin-right: 2px;
    z-index: 1;
  }

  &.inactive {
    background-color: $inActive-btn-color;

    &:hover{
      background-color: $inActive-btn-color;
      .inner {
        opacity: 0;
      }
    }
  }

  .inner {
    background-color: $highlight-btn-color;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 0;
    border-radius: 50%;
    transition: all 500ms;
    transition-timing-function: cubic-bezier(0.1, 0, 0.11, 1);
    opacity: 0;
    font-family: Roboto;
    color: white;
  }

  &:hover {
    background-color: $highlight-btn-color;
    .inner {
      opacity: 1;
      height: $hover-size;
      margin-left: $hover-margin;
      margin-top: $hover-margin;
      width: $hover-size;
    }
  }
}





