.cart-item-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 10% 30%;
      grid-template-columns: 60% 10% 30%;
  -ms-grid-rows: 33% 33% 33%;
      grid-template-rows: 33% 33% 33%;
  font-family: 'Raleway';
  color: #1d1f22;
  width: 100%;
}

.cart-item-wrapper.alt {
  border-top: 1px solid #ebebeb;
  height: 225px;
  padding-top: 20px;
  row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-item-wrapper[animation='1'] {
  -webkit-animation: reset 750ms 1;
          animation: reset 750ms 1;
}

.cart-item-name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-item-name-wrapper.alt {
  font-size: 30px;
  row-gap: 5px;
}

.cart-item-name-wrapper__brand {
  font-variation-settings: 'wght' 600;
}

.cart-item-price.alt {
  font-size: 24px;
  font-variation-settings: 'wght' 700;
}

.cart-item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-item-photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -ms-grid-column: 3;
  grid-column: 3;
  overflow: hidden;
  width: 105px;
  height: 137px;
}

.cart-item-photo.alt {
  width: 141px;
  height: 185px;
}

.cart-item-photo img {
  max-width: 100%;
}

.cart-item-attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
          column-gap: 4px;
}

@-webkit-keyframes reset {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  65% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes reset {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  65% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}
/*# sourceMappingURL=CartItem.style.css.map */