.attribute-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: SourceSansPro;
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  color: #1d1f22;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.attribute-item.fill {
  background: #1d1f22 !important;
  color: white;
}

.attribute-item__circle {
  width: 20px;
  height: 20px;
  opacity: 0;
  border-radius: 50%;
  background: #1d1f22;
  position: absolute;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.06, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.06, 1);
  bottom: -2px;
  z-index: -1;
  left: calc(50%-10px);
}

.attribute-item__circle.fill {
  -webkit-transform: scale(15);
          transform: scale(15);
  opacity: 1;
}

.attribute-item.empty {
  border-color: gray;
  color: gray;
}

.attribute-item.mini {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 24px;
  height: 24px;
  font-size: 14px;
  padding: 0px 4px 0px 4px;
}
/*# sourceMappingURL=AttributeItem.style.css.map */