.product-item-wrapper {
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 21rem;
          flex: 1 2 21rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 16px;
  padding: 16px;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateX(10px) translateY(10px);
          transform: translateX(10px) translateY(10px);
  -webkit-transition: 450ms;
  transition: 450ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.21, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.21, 1);
}

.product-item-wrapper:hover {
  -webkit-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.49);
          box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.49);
}

.product-item-wrapper.show {
  opacity: 1;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}

.product-item-wrapper[animation='1'] {
  -webkit-animation: refresh 450ms 1;
          animation: refresh 450ms 1;
}

.product-item-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Raleway;
  margin-top: 24px;
  size: 18px;
}

.product-item-price {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Raleway;
  margin-top: 10px;
  size: 18px;
  font-variation-settings: 'wght' 500;
}

.product-thumbnail {
  width: 338px;
  height: 338px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-thumbnail img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.product-item-quick-buy {
  position: absolute;
  top: 330px;
  right: 60px;
  opacity: 0;
  -webkit-transition: 450ms;
  transition: 450ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.21, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.21, 1);
}

.product-item-quick-buy.visible {
  opacity: 1;
}

@-webkit-keyframes refresh {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px) translateY(10px);
            transform: translateX(10px) translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

@keyframes refresh {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px) translateY(10px);
            transform: translateX(10px) translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
/*# sourceMappingURL=CategoryItem.style.css.map */